<nav class="navbar bg-faded bg-inverse navbar-dark">
  <a class="navbar-brand" href="/"> {{title}} </a>
  <!--<code>-->
  <!--From Express: {{observable$ | async | json}}-->
  <!--</code>-->
  <ul class="nav navbar-nav">
    <li class="nav-item" routerLinkActive="active"><a routerLink="projects" class="nav-link">项目</a></li>
    <!--<li><a routerLink="profile" routerLinkActive="active">Profile</a></li>-->
  </ul>
  <!--<button class="btn btn-lg btn-success">test</button>-->
</nav><!-- Development tools -->
<router-outlet></router-outlet><!--<ngrx-store-log-monitor toggleCommand="ctrl-h" positionCommand="ctrl-m"></ngrx-store-log-monitor>-->
