<div class="row">
  <app-project-list class="col-md-9" [title]="'最新'" *ngIf="list"></app-project-list>
  <app-project-mass class="col-md-9" [title]="'最新'" *ngIf="!list"></app-project-mass>
  <section class="col-md-3">
    <div *ngIf="false">
      <a (click)="list=true">对齐</a><a (click)="list=false">不对齐</a>
    </div>
    <form class="jumbotron">
      <h1>创建项目</h1>
      <input name="name" placeholder="给项目起个名字" [(ngModel)]="project.name" class="form-control-lg"/>
      <button (click)="newProject()" class="btn btn-primary btn-lg">新建项目</button>
    </form>
  </section>
</div>
